{% extends "layout.html" %}

{% block content %}
<section class="main" >

<section class="articles">
    <article>

      <body>
        <p>
         Especies de mascotas disponibles para adopcion actualmente:
        </p>
        <p>
        Gatos de raza siames principalmente:
        </p>
        <p>
        -Gato Siames:
        </p>
        <p>
            El gato siamés es un gato de tamaño mediano y cuerpo largo y flexible, que es grácil y elegante
            pero sin perder su aspecto musculoso. El cuerpo es equilibrado y atlético, las patas son esbeltas y las zarpas,
            pequeñas y ovaladas. Desde arriba, la cabeza recuerda a un triángulo que se estrecha en líneas rectas y termina
            en un hocico delgado. Las orejas son grandes y erguidas y están situadas de tal modo que siguen las líneas del triángulo. 
            Los ojos tienen una forma oriental y se inclinan hacia la nariz. La cola es larga, estrecha y sin dobleces. El pelaje —corto, fino y ceñido al cuerpo—
            presenta un color principal pálido en todo el cuerpo, salvo en las marcas distales, mucho más oscuras. 
            El color más oscuro se extiende únicamente a la zona del morro, las orejas, las patas y la cola, que son las partes más frías
            del cuerpo. Puede tener una amplia gama de colores. Independientemente de los colores y patrones del pelaje, 
            el color de los ojos será siempre de un azul intenso brillante.
        </p>
        <p>
        <img src="/static/Imagenes/Siames.jpg" width="200" height="253">
        </p>
    </p>
</section>
</section>

<aside>
    <h3> Especificaciones: </h3>
        <p>
        Tamaño: Mediano
        </p>
            Tipo de cabeza: De tamaño medio, triangular, bien proporcionada, cráneo de perfil ligeramente convexo, 
            hocico fino, nariz larga y recta sin depresión nasofrontal; orejas grandes, puntiagudas y separadas.
            <p>
            Ojos:Medianos, almendrados, ligeramente oblicuos; de un color azul luminoso y profundo.
            </p>
            <p>
            Cuerpo:Mediano, alargado, esbelto, elegante, osamente fina y musculatura firme
            </p>
            <p>
            Color/es:Capa pigmentada en las partes distales del cuerpo (points): cara, orejas, patas y cola, el resto del cuerpo es más claro. 
            Variantes: blanco; solid points o tabby points en colores seal, azul, chocolate, lila, rojo, crema, canela, fawn y variantes tortuga    
            </p>
            <p>
            Esperanza de vida: 15-20 años
            </p> 
</aside>


{% endblock %}

