{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Servicios Veterinarios AgD</h2>
            <br>
            <p> En la Veterinaria AgD prestamos los mejores servicios para el cuidado de sus mascotas, ademas de contar con un servicios
                de adopcion de animales, desde los domesticos, hasta animales un poco mas exoticos, todo dentro del marco legal y con documentacion 
                y permisos solicitados para evitar problemas legales con la ley o con nuestra propia clientela, estaremos agradecidos de que guste visitar nuestro 
                catalago de mascotas al igual que si desea usar cualquiera de nuestros otros servicios
           </p>
       </article>
        <article>
           <h2> Información sobre nuestros servicios  </h2>
            <br>
            <p> Ofrecemos una variedad de servicios en nuestro establecimiento, tenemos farmacia para que adquiera los 
                medicamentos necesarios para su/s mascotas ademas de que ofrecemos consultas medicas gratuitas y un servicio de 
                baño para su compañero, tambien tenemos estilistas especializados para que le haga el corte de cabello que guste a su mascota, el 
                primer corte de pelo es completamente gratuito, por su puesto nuestro mas grande servicio es un servicio de adopcion para que adquiera 
                la mascota que guste igualmente con una gran variedad de estos compañeros, en esta pagina encontrara apartados de las mascotas que pueda adquirir 
                en nuestro establecimiento.
            </p>

        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p><strong> Debido a falta de personal actualmente varios de nuestros servicios se encuentran pausados temporalmente
     </strong></p>
        Se solicita personal, requisitos:
        <p>
        -Mayor de 18 años
        </p>
        <p>
        -Disponibilidad de tiempo 
        </p>
        <p>
        -Gusto por las mascotas 
        </p>
        -Conocimientos en distintas areas del cuidado de mascotas
        Para mas información consulte en nuestra sucursal o en nuestro correo electronico
       
    </p>
      
</aside>
    

{% endblock %}
