<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>Veterinaria AgD</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
   <img src="/static/Imagenes/Vet-logo.png" width="300px" height="210">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/Tiburon">Información sobre Tiburones</a></li>
        <li><a href="/Gato">Información sobre Gatos</a></li>
        <li><a href="/Serpiente">Información sobre Serpientes</a></li>
        <li><a href="/crud">Comentarios</a></li>
        <li><a href="/Contacto">Contacto</a></li>
    </ul>
</nav>
    
{% block content %}
{% endblock %}
    
  
<footer>
    <p>Ubicacion: Aguascalientes, Aguascalientes</p>
    <p>Correo electronico: veter_agd@gmail.com</p>
</footer>  
</body>
</html>