{% extends "layout.html" %}

{% block content %}
    <section class="main" >

        <section class="articles">
            <article>
        
              <body>
                <p>
                 Especies de mascotas disponibles para adopcion actualmente:
                </p>
                <p>
                Serpiente Piton Real:
                </p>
                <p>
                -Piton Real:
                </p>
                <p>
                    La pitón real (Python regius) es una serpiente de la familia de los pitónidos, propia de África tropical. 
                    También se la conoce como "pitón bola", a consecuencia de su timidez, suele enrollarse sobre 
                    sí misma metiendo la cabeza en el centro haciéndose una bola. Esta pitón suele ser muy tranquila por lo que es completamente seguro adquirir una para mascota
                    El patrón de color es típicamente negro con dibujos dorados o amarronados y manchas dorsales. El vientre es blanco o crema y puede o no incluir marcas dispersas negras. 
                    De todas formas, esta especie en la industria de mascotas, suele tener varias variaciones del patrón original mediante cría selectiva.
                </p>
                <p>
                <img src="/static/Imagenes/Python_royal_35.jpg" width="260" height="260">
                </p>
            </p>
        </section>
        </section>
    
<aside>
    <h3> Especificaciones: </h3>
        <p>
        <strong>Longitud del cuerpo:</strong>	1,3 metros de media
        </p>
        <strong>Peso:</strong>	1,3-1,7 kilos
        <p>
        <strong>Esperanza de vida:</strong>	20 años de media
        </p>
        <p>
        <strong>Tenencia:</strong>	en solitario
        </p>
        <p>
        <strong>Alimentación:</strong>	Ratones y ratas muertos 
        </p>
        <p>
        <strong>Origen/distribución:</strong>	África central y occidental
        </p> 
</aside>

{% endblock %}