{% extends "layout.html" %}

{% block content %}
    <section class="main" >

        <section class="articles">
            <article>
        
              <body>
                <p>
                 Especies de mascota disponibles para adopcion actualmente:
                </p>
                <p>
                Tiburones domesticos:
                </p>
                <p>

                    <p>Los tiburones definitivamente son uno de los animales más intrigantes de la naturaleza; y es que estos se han ganado el respeto de toda la humanidad, al ser un claro ejemplo de supervivencia, adaptación y evolución.</p>

                    <p>No está de más decir que los tiburones son incluso más antiguos que los propios dinosaurios, pues existen desde hace más de 400 millones de años.</p>

                    <p> no es de extrañar que millones de personas en el mundo sientan una atracción instantánea con estos animales, y que hasta los quieran adoptar como sus mascotas… aunque a muchos esto les pueda parecer algo aterrador.</p>

                    <p>Lo cierto es que es más común de lo que parece, pues desde hace muchos años los escualos han pasado a formar parte de múltiples museos, acuarios, estanques y de peceras.</p>

                    <p>
                    Los cuidados de los tiburones mascotas pueden variar de una especie a otra. Y es que todos ellos tienen características
                    diferentes en cuanto a alimentación, tamaño del entorno, temperatura del agua, elementos decorativos y funcionales, cantidad y especies de compañía permitidas, etcétera.
                    </p>
                    <p>
                       <strong>-Tiburon Musola Gris:</strong>
                    </p>
                    <p>
                    El tiburón musola, también conocido como tiburón gato o tiburón musola común, es una especie de tiburón que pertenece a la familia Scyliorhinidae.
                    Su nombre científico es Scyliorhinus canicula. Es común en las aguas costeras poco profundas del Atlántico oriental, 
                    desde Noruega hasta Sudáfrica, incluyendo el Mar Mediterráneo y el Mar del Norte. También
                    se encuentran en el Mar Negro y el Mar de Mármara.
                    </p>
                </p>
                <p>
                <img src="/static/Imagenes/Musola.jpeg" width="268" height="188">
                </p>
            </p>
        </section>
        </section>

        <aside>
            <h3> Especificaciones: </h3>
                <p>
                    <strong>Tamaño:</strong> Por lo general, son tiburones pequeños, con una longitud que oscila entre 50 y 80 centímetros. Sin embargo, algunos individuos pueden crecer hasta 1 metro de largo
                </p>
                <p>
                <strong>Aspecto físico:</strong> Tienen un cuerpo delgado y alargado con un hocico puntiagudo. Su coloración varía desde marrón grisáceo hasta gris claro, con manchas oscuras dispersas a lo largo de su cuerpo.
                </p>
                <p>
                   <strong>Hábitat:</strong> Suelen habitar aguas poco profundas, desde la superficie hasta profundidades de unos 200 metros. Prefieren fondos rocosos, pero también se pueden encontrar en áreas con sedimentos blandos.                </p>
                <p>
                    <strong>Hábitos alimenticios:</strong> Son depredadores nocturnos que se alimentan principalmente de pequeños peces, crustáceos y cefalópodos. Utilizan sus sentidos altamente desarrollados para detectar presas en la oscuridad.                </p>
                <p>
                    <strong>Reproducción:</strong> Son ovíparos, lo que significa que ponen huevos. La hembra deposita los huevos en sustratos duros, como grietas rocosas, donde quedan adheridos hasta que eclosionan. El período de incubación de los huevos puede durar varios meses.
                <p>
                <strong>Esperanza de vida:</strong> 10-15 años
                </p> 
        </aside>

{% endblock %}